/* ==== ESTILOS PERSONALIZADOS = === */

/* Fondo general */
body {
    background-image: url("../img/fondocomida11.jpg"); /*Foto de Fondo*/
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    
        
}

/* Opcional: oscurece ligeramente el fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    z-index: -1;
}

/* Tarjetas */
.card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.03);
}
